body {
  text-align: center;
}

input {
  padding: 8px;
  border-radius: 2px;
  border-radius: 14%;
  margin:5px;
}

img {
  height: 200px;
}
button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #92A63E;
  padding: 8px;
  border-radius: 14%;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
